.hero-list {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.hero-list:hover {
    cursor: pointer;
    cursor: hand;
    background-color: #ffc9d7;
}


.tab-list{
    display: flex;
    justify-content: center;
}
.tab{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border:solid 1px #CCC;
    text-align:center;
    cursor:pointer;
}
.main{
    height:100px;
    border:solid 1px #CCC;
    border-top:none;
    background:#eee;
}
.content{
    display:none;
}
.tab.is-active{
    background:#F00;
    color:#FFF;
    transition: all 0.2s ease-out;
}
.content.is-show{
    display:block;
}