.hero-list {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.hero-list:hover {
    cursor: pointer;
    cursor: hand;
    background-color: #ffc9d7;
}
